{% extends 'base.html' %}

{% block title%}
About
{% endblock %}

{% block content%}
<h1 class="text-center">About Us</h1>
<hr>

<p>Welcome and thank you for your interest in RV Hospitals Pvt. Ltd. RV Hospital,a 360 bedded hospital started in 1982 – a dream come true of a group of eminent doctors under the veteran leadership of the late Dr. M.K.Mahadevan, a renowned and respected name among the medical and social fraternity in the country.</p> <p> It’s our ardent desire to provide you with the highest standards of health care services. </p>
<p> RV  Hospitals is a 360 bedded hospital started in 1982 under the veteran leadership of the late Dr. M.K.Mahadevan, a renowned and respected name among the medical and social fraternity in the country.</p> <p>The hospital provides highest standards of health care services in line with our motto, “A loving touch of care for generations”.</p> <p> The Hospital delivers quality health care with highest level of expertise from medical experts backed by well-trained support staff and efficient systems and processes.</p>
<p>We ensure delivery of quality health care with highest level of expertise from medical experts backed by well-trained support staff and efficient systems and processes.</p> <p> We wish to offer you a wealth of clinical experience.</p>

<p>This site is an endeavour to acquaint you with our hospital services and facilities and will help you when you or some one close to you, needs health care par excellence.</p>

<p>- With warm regards</p>
{% endblock %}