{% extends 'base.html' %}

{% block title%}
Register
{% endblock %}

{% block content%}
<h1 class="text-center"> Register</h1>
<hr>
<div class="container w-50 text-center p-3 my-5 bg-secondary">
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <input type="email" name="email" placeholder="Enter the email id"><br>
    <input type="password" name="password" placeholder="Enter the password"><br>
    <input type="password" name="password1" placeholder="Confirm Password"><br>
    <br>
    <input type="submit"  class="btn btn-dark mb-4">
</form>
</div>
{% for msg in messages %}
{{msg}}
{% endfor %}
{% endblock %}